In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
heart = pd.read_csv("heart-disease.csv")
heart.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

In [3]:
x = heart.drop("target",axis =1)#feautres data
y = heart["target"]#label data

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=42)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=42)

In [ ]:
clf.fit(x_train,y_train)

In [ ]:
clf.score(x_test,y_test)

In [ ]:
 x = clf.predict(x_test)
x

In [ ]:
z = np.array(y_test)
z

In [ ]:
np.mean(z == x)

In [ ]:
x_test.head(2)

In [ ]:
age = input("enter age")
sex = input("enter sex (1 or 0)")
cp = input("enter cp")
trestbps = input("enter trestbps")
chol = input("enter chol")
fbs = input("enter fbs")
restecg = input("enter restecg")
exang = input("enter exang")
oldpeak = input("enter oldpeak")
slope = input("enter slope")
ca = input("enter ca")
thalach = input("enter thalach")

detail = np.array([age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal])
clf.predict(detial)